html
{
  background: #cccccc;
}
body
{
  background: #ffffff;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 768px;
  height: 100%;
  margin: auto;
  font-family: arial, helvetica, sans-serif;
  font-size: 9pt;
}

*
{
  margin: 0;
  padding: 0;
}

#feedurl
{
  width: 768px;
  height: 70px;
  margin: 0px 0px 20px 0px;
  background-color: #cccccc;
  text-align: center;
  color: #000000;
  font-size: 20px;
}
