body
{
  background: #ffffff;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 768px;
  height: 100%;
  margin: auto;
  font-family: Verdana,Arial,sans-serif;
  font-size: 9pt;
}

#header {
  position: relative;
}

#headersite {
  float: left;
  position: relative;
}

#headersitename {
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

#headeruser {
  float: right;
  position: relative;
}

.green {
  color: #6EAC2C;
}

.blue {
  color: #2191c0;
}

#content {
  padding-top: 10px;
  clear: both;
  position: relative;
}

#feedurl
{
  text-align: center;
  color: #000000;
  font-size: 20px;
}
